<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>Completable Future and Workmanager Integration</display-name>
  <servlet>
    <servlet-name>TestCF</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:cfworkmanagerapp-dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCF</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <resource-ref id="ResRef_5201107264812345748">
    <res-ref-name>wm/cfworkers</res-ref-name>
    <res-type>commonj.work.WorkManager</res-type>
    <res-auth>Application</res-auth>
  </resource-ref>
</web-app>